<%- include("partials/header");%>
<script>
	$(document).ready(function(){
		$('#send_mail').click(function(e){
			e.preventDefault();
			var email=$('#e').val();
			$('.val').remove();
			if(email.length<1){
				$('#e').after('<p class="val">Please enter email-id</p>');
			}else{
				$('#forgot_password_form').submit();
			}
		});
	});
</script>
<div class="container">
	
		
		<div class="form1">
			<div class="header">
				
					Forgot Password Portal
				
			</div> 
			<br>
			<form id="forgot_password_form" action="/forgot" method="POST">
				<div class="form-group form-group-lg">
					<label for="e">Email-Id</label>
					<input id="e" class="form-control" type="email" placeholder="enter email" name="email" required>
				</div>
				<div class="form-group form-group-lg">
					<button id="send_mail" class="form-control btn btn-success">
						Send Mail
					</button>
				</div>	
		</form>
		</div>
	
</div>

<%- include("partials/footer1");%>