<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script> -->
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<br>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h5>
					<b>Contact Us</b>
				</h5>
				<p>
					<b>Email:</b>learn.with.kumar.mumbai@gmail.com
				</p>
				<p>
					<b>Mob:</b> (+91) xxxxxxxxxx
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h5>
					<b>Yelpcamp</b>
				</h5>
				<h5>
					Copyright @<script>document.write(new Date().getFullYear());</script>
				</h5>
				
			</div>
			<div class="col-md-3 col-sm-6">
				<h5>
					<b>Follow Us On</b>
				</h5>
					<a id="social_button" class="fa fa-linkedin" href="https://www.linkedin.com/in/mahendrakumar-chaudhary-780395196" style="background: #007bb5;
  color: white;"></a>
				<a id="social_button" class="fa fa-instagram" href="https://www.instagram.com/mahendra_9119" style="background: #ea4c89;
  color: white;"></a>
				<a id="social_button" class="fa fa-github" href="https://github.com/mahendrakumar119/" style="background: #24292e;
  color: white;"></a>
				
			</div>
			<div class="col-md-3 col-sm-6">
				<h5>
					<b>Developed By:</b> Mahendrakumar Chaudhary
				</h5>
			</div>
		</div>
	
	</div>
</div>
</body>
</html>